{% extends "base.html.twig" %}

{% block title %}Card Game{% endblock %}

{% block main %}
<h1>Card game [PLAYING]</h1>

<p>Cards in deck: {{ numCards }} cards.</p>

{{ include('flash.html.twig') }}

{# {{ dump(drawnCards )}} #}

<div class="card-container">
<div class="card2">

{% for value in drawnCards %}
    <img src="{{ asset(value) }}" alt="">
{% endfor %}

</div>
</div>
{# {{ dump(cardValues )}} #}
<div class="card-container">
<div class="card1">
<p>Deck: </p>
{% for value in cardValues %}
    <img src="{{ asset(value) }}" alt="">
{% endfor %}

</div>
</div>




{% endblock %}